<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Лаунчер сервисов</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<header class="header">
    <h1 class = 'header_title'>ЛАУНЧЕР СЕРВИСОВ</h1>
</header>
<div class="sidebar">
    <div class="sidebar-left">
        <h1 class='sidebar_title'>СЕРВИСЫ</h1>
        <div id="app" class="services">
        </div>
    </div>
    <div id="insertion" class="sidebar-right">
        <!-- Здесь выводится аякс кортиночке и все такое-->
    </div>
</div>


</body>
{% load static %}
<script src='{% static "frontend/main.js/main.js" %}'></script>
</html>