button {
  display: block;
  background: #dadabd;
  color: #2d2f3a;
  padding: 12px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 50;
  width: 100%;
}

.button:hover {
    background-color: #d9d9bc;
    color: white;
}